* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  background: #23424a;
  color: #fff;

  width: 80%;
  margin: 0 auto;

  /* default html font size = 16px */
  /* 5em is 16 * 5 = 80px */
  padding: 5em;
  /* height: 300px; */
}

