@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

h2 {
    font-family: 'Playfair', serif;
    font-size: 2.25rem;
    color: #824936;
    margin: 0;
}

img {
    max-width: 100%;
    border: 0;
}

.container {
    width: 100%;
    max-width: 1128px;
    margin: 0 auto;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

header {
    display: flex;
    min-height: 660px;
    width: 100%;
    background-color: #f3eed9;
}

.header__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
}

.hero__p--title {
    font-size: 1.2rem;
    font-weight: 100;
    letter-spacing: 8px;
    text-transform: uppercase;
    text-align: center;
}

.hero__h1--title {
    font-family: 'Playfair', serif;
    font-size: 3.75rem;
    line-height: .9;
    margin-top: 0;
    text-align: center;
    color: #824936;
}

.text__content {
    width: 100%;
    color: #F3EED9;
    line-height: 1.4;
}

.container__padding {
    padding: 6em 0 6em 0;
}

.background__black {
    background-color: #222C2A;
    padding: 4em 0 4em 0;
}

.background__brown {
    background-color: #824936;
    padding: 4em 0 4em 0;
}