*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #2E323F;
    width: 100%;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.nav__list {
    padding: 0;
}

.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    border-radius: 50%;
    background: #2E323F;
    color: white;
    transition: opacity 250ms ease;
    position: absolute;
    left: 0;
}




.nav__item {
    list-style: none;
    font-size: 1rem;
}

.nav__link {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}