@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* =============================== */
/* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}
/* =============================== */


body {
  margin: 0;
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
}

.background {
  margin: 0 auto;
  background: #23424A;
  color: #ffffff;
  padding: 3em;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
}

.container p {
  line-height: 1.5em;
  margin-bottom: 3em;
}

.content {
  width: 85%;
  max-width: 800px;
  color: #fff;
  margin: 7em 0 7em 0;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em 2.5em;
  border-radius: 2em;
  background-color: #38CFD9;
  font-weight: 900;
  color: #000;
}

.btn:hover,
.btn:focus {
  opacity: .75;
}